/* google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* ------- */

/* global set */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* navbar section start */

.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem clamp(2rem, 10vw, 8rem);
  background-color: black;
  color: #fff;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  flex: 1;
  width: 100px;
  height: 60px;
  object-fit: cover;
  margin-right: 1rem;
}

.navbar .logo h2 {
  font-size: 2rem;
  font-weight: 500;
}

.navbar .menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar .menu .menu-item:not(first-child) {
  margin-left: 2.5rem;
}

.navbar .menu .menu-item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 0.3rem;
  transition: border-bottom 1s ease;
}

.navbar .menu .menu-item:hover a {
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 45em) {
  .navbar {
    position: fixed;
  }

  .navbar .menu {
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1rem);
    top: 0;
    right: 0;
    padding-top: 5rem;
    width: 300px;
    flex-direction: column;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  .navbar .menu.active {
    transform: translateX(0%);
  }

  .navbar .menu .menu-item:not(last-child) {
    margin-bottom: 5rem;
  }

  .navbar .menu .menu-item {
    width: 100%;
    text-align: center;
  }

  .navbar .menu .menu-item a {
    font-size: 1.5rem;
  }

  .toggle-menu {
    position: absolute;
    top: 30%;
    right: 5%;
    display: block;
    cursor: pointer;
    z-index: 1001;
  }

  .toggle-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: transform 0.3s ease;
  }

  .toggle-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .toggle-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .toggle-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* nav section end */

/* home section start*/

.home {
  width: 100%;
  height: 100vh;
  background: url("./img/homepage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 clamp(1rem, 10vw, 10rem);
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home > *:not(last-child) {
  margin-bottom: 2rem;
}

.home .title h1 {
  font-size: 5rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1rem;
}

.home .desc p {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.5rem;
}

.home .btn {
  position: relative;
  width: 200px;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #005ab5;
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-align: center;
}

.home .btn::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background-color: #930000;
  border-radius: 10px;
  z-index: -1;
  transition: width 0.5s ease;
}

.home .btn:hover::before {
  width: 100%;
}

@media screen and (max-width: 45em) {
  .home .title h1 {
    font-size: 4rem;
  }

  .home .desc p {
    font-size: 1rem;
  }
}
/* home section end*/

/* serve section start */

.serve {
  width: 100%;
  padding: 2rem clamp(1rem, 10vw, 10rem);
  display: flex;
  flex-direction: column;
}

.serve .title {
  margin-bottom: 2rem;
  color: #930000;
}

.serve .title h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.serve .serve-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.serve .serve-container > * :not(last-child) {
  margin-bottom: 1rem;
}

.serve .serve-container .serve-item {
  font-size: 1.5rem;
  white-space: nowrap;
}

.serve .serve-container .serve-img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 50em) {
  .serve .serve-container {
    grid-template-columns: 1fr;
  }
}

/* serve section end */
/* team section start */

.team {
  margin-top: 2rem;
  width: 100%;
  padding: 2rem clamp(1rem, 10vw, 10rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto 350px);
  gap: 1rem;
}

.team .content .topline {
  color: #930000;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1rem;
  margin-bottom: 0.5rem;
}

.team .content h1 {
  font-size: 2rem;
  letter-spacing: 1rem;
  margin-bottom: 0.5rem;
}

.team .content p {
  letter-spacing: 0.5rem;
  font-weight: 500;
}

.team-card {
  position: relative;
}

.team-card p {
  position: absolute;
  color: #fff;
  font-size: 3rem;
  bottom: 5%;
  left: 5%;
}

.team .team-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.team .content::nth-child(1) {
  grid-row: 5/6;
  grid-column: 1/2;
}

.team .content:nth-child(2) {
  grid-row: 1/2;
  grid-column: 2/3;
}

.team .team-card:nth-child(3) {
  grid-row: 1/3;
  grid-column: 1/2;
}

.team .team-card:nth-child(4) {
  grid-row: 3/5;
  grid-column: 1/2;
}

.team .team-card:nth-child(5) {
  grid-row: 2/4;
  grid-column: 2/3;
}

.team .team-card:nth-child(6) {
  grid-row: 4/6;
  grid-column: 2/3;
}

@media screen and (max-width: 45em) {
  .team {
    display: grid;
    grid-template-columns: 1fr;
  }

  .team .content:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .team .content:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .team .team-card:nth-child(3) {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .team .team-card:nth-child(4) {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .team .team-card:nth-child(5) {
    grid-row: 5/6;
    grid-column: 1/2;
  }

  .team .team-card:nth-child(6) {
    grid-row: 6/7;
    grid-column: 1/2;
  }
}
/* team section end */

/* signUp section start */

.signUp {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 35%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("./img/signUp.jpeg");
  background-position: center center;
  padding: 2rem clamp(1rem, 10vw, 10rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp .signUp-wrapper {
  width: 100%;
}

.signUp .signUp-wrapper > *:not(last-child) {
  margin-bottom: 2rem;
}

.signUp .signUp-wrapper .title {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 1rem;
  font-weight: 500;
}

.signUp .signUp-wrapper p {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.5rem;
  font-weight: 300;
  line-height: 2.5rem;
}

.email {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 700px;
}

.email input {
  width: 100%;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  border: none;
  margin-right: 1rem;
  outline: none;
  font-size: 1.5rem;
}

.email .btn {
  border: none;
  position: absolute;
  left: 70%;
  width: 30%;
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #005ab5;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.email .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: -1;
  width: 0;
  height: 100%;
  background-color: #930000;
  transition: width 0.5s ease;
}

.email .btn:hover::before {
  width: 100%;
}

@media screen and (max-width: 45em) {
  .signUp .signUp-wrapper .title {
    font-size: 2rem;
  }

  .signUp .signUp-wrapper p {
    font-size: 1rem;
  }

  .email {
    width: 100%;
  }

  .email input {
    width: 100%;
    padding: 0.5rem 3rem;
  }

  .email .btn {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
  }
}
/* signUp section end */

/* footer start */

.footer-container {
  background-color: black;
  padding: 2rem clamp(1rem, 10vw, 10rem);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.footer-container .header {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.footer-container .footer-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.footer-container .footer-info .footer-desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-container .footer-info .footer-desc > * {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-container .footer-info .footer-link {
  display: flex;
  flex-direction: column;
}

.footer-container .footer-info .footer-link .title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-container .footer-info .footer-link a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.footer-container .footer-info .footer-link a:hover {
  color: rgb(158, 55, 55);
}

@media screen and (max-width: 45em) {
  .footer-container .footer-info {
    grid-template-columns: 1fr;
  }

  .footer-container .footer-info > *:not(last-child) {
    margin-bottom: 1rem;
  }

  .footer-container .footer-info .footer-desc {
    align-items: center;
  }

  .footer-container .footer-info .footer-link {
    align-items: flex-start;
  }
}
/* footer end */
